<%#= render 'include/cart/cart' %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h2>Cart</h2>
<ul>
  <% @cart.cart_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %> = <%= item.quantity * item.product.price %></li>
  <% end %>
</ul>
